@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;
}

body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
}

.container {
    max-width: 1220px;
    
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
}

button {
    border: none;
    background-color: white;
}

#backBtn i,
#nextBtn i { 
    color: rgb(107, 107, 107);
}

input[type="text"],
input[type="date"],
input[type="textarea"],
#nacionalidad,
#cantidad,
#garage,
#tarifa {
    border-radius: 2px;
}

#mes {
    color: #d36c6c;
    font-size: 26px;
}

#container {
    width: 1020px;
}

#weekdays {
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: #247BA0;
}

#weekdays div {
    width: 145px;
    padding-bottom: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.day {
    width: 145px;
    padding: 5px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.day:hover {
    background-color: #dfc1ae !important;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newReservaModal,
#deleteReservaModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 2px;
    width: 1024px;
    top: 150px;
    left: calc(30% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#deleteReservaModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 2px;
    width: auto;
    top: 150px;
    left: calc(55% - 175px);
    position: absolute;
    font-family: sans-serif;
}

h2 {
    border-bottom: 1px solid #247BA0;
}

#cancelBtn,
#delBtn {
    background-color: #d36c6c;
    border-radius: 2px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Rajdhani', sans-serif;
}

#saveBtn,
#closeBtn {
    background-color: #56885a;
    border-radius: 2px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Rajdhani', sans-serif;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.resumen_reserva {
    display: none;
}

#agregar {
    border-radius: 100%;
    background-color:hsla(290,60%,70%,0.0);
}

#agregar i {
    color: rgb(95, 153, 177);
}