@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #FFFCFF;
}

.container {
    max-width: 1020px;
    margin-top: 50px;
}

.title-month {
    padding-bottom: 20px;
}

button {
    border: none;
    background-color: white;
}

#backBtn i,
#nextBtn i {
    color: rgb(107, 107, 107);
}

.weather {
    width: 100px;
    background-color: #5e8596;
    -webkit-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.48);
    box-shadow: -1px 3x 5px -1px rgba(0, 0, 0, 0.48);
    border-radius: 2px;
}

.fa-sun {
    font-size: 32px;
    color: rgb(255, 252, 47);
    padding: 5px;
    filter: drop-shadow(0 0 0.10rem rgb(236, 236, 236));
}

.fa-cloud {
    font-size: 28px;
    color: rgb(151, 150, 150);
    padding: 2px;
    padding-top: 5px;
    filter: drop-shadow(0 0 0.10rem rgb(236, 236, 236));
}

.fa-stack .fa-sun {
    font-size: 24px;
    padding: 0;
}

.fa-stack .fa-cloud {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

.temperatura {
    color: white;
    font-weight: bold;
    font-size: 21px;
    padding-left: 5px;
    padding-top: 5px;
}

input[type="text"],
input[type="date"],
input[type="textarea"],
#nacionalidad,
#cantidad,
#garage,
#tarifa {
    border-radius: 2px;
}

#mes {
    color: #d36c6c;
    font-size: 26px;
}

#weekdays {
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: #247BA0;
}

#weekdays div {
    width: 145px;
    padding-bottom: 10px;
}

#calendar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day {
    width: 110px;
    padding: 5px;
    margin: 8px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.day:hover {
    background-color: #dfc1ae !important;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.dayMenu {
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in;
}

.day:hover>.dayMenu {
    opacity: 1;
    height: 200%;
    transform: translate(0px, -60px);
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #944488;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newReservaModal,
#deleteReservaModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 2px;
    width: 1024px;
    top: 150px;
    left: calc(30% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#deleteReservaModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 2px;
    width: auto;
    top: 150px;
    left: calc(55% - 175px);
    position: absolute;
    font-family: sans-serif;
}

h2 {
    border-bottom: 1px solid #247BA0;
}

#cancelBtn,
#delBtn {
    background-color: #d36c6c;
    border-radius: 2px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Rajdhani', sans-serif;
}

#saveBtn,
#closeBtn {
    background-color: #56885a;
    border-radius: 2px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Rajdhani', sans-serif;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.resumen_reserva {
    display: none;
}

#agregar {
    border-radius: 100%;
    background-color: hsla(290, 60%, 70%, 0.0);
}

#agregar i {
    color: rgb(95, 153, 177);
}